@model Biblioteka.Models.Uzytkownik

@{
    ViewBag.Title = "Login";
}
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.email)
                        @Html.TextBoxFor(m => m.email, "", new { @class = "form-control", @placeholder = "Email" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.haslo)
                        @Html.PasswordFor(m => m.haslo, new { @class = "form-control", @placeholder = "Haslo" })
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary" value="Zaloguj" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>